*{
    margin:0px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* class names */


    .main-box1{
        display: inline-block;
        position: relative;
        background:beige;
        border-radius: 10%;
        width: 300px;
        height: 200px;
        vertical-align: top;
        padding: 20px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .main-box2{
        display: inline-block;
        position: relative;
        background:rgb(53, 48, 111);
        border-radius: 5%;
        width: 400px;
        height: 500px;
        vertical-align: top;
        padding: 30px;
        margin-top: 30px;
    }

    .main-box2 > p{
        font-size:40px;
        color:beige
    }

    .main-box3{
        display: inline-block;
        position: relative;
        background:beige;
        border-radius: 5%;
        width: 630px;
        height: 650px;
        vertical-align: top;
        padding: 30px;
        margin-top: 30px;
    }

    .main-box3 > p{
        font-size:40px;
        color:navy;
    }

    .circle1{
        display: inline-block;
        position: relative;
        background:rgb(192, 250, 195);
        width: 100px;
        height: 100px;
        border-radius: 100%;
        align-content: center;
        text-align:center;
            
    }
    .circle1 > p{
        font-size:20px;
        color:rgb(30, 19, 102);
    }